[Desktop Entry]
Name=FortuneWidget
Name[ar]=FortuneWidget
Name[az]=FortuneWidget
Name[ca]=FortuneWidget
Name[ca@valencia]=FortuneWidget
Name[cs]=FortuneWidget
Name[da]=FortuneWidget
Name[de]=FortuneWidget
Name[en_GB]=FortuneWidget
Name[es]=FortuneWidget
Name[et]=FortuneWidget
Name[eu]=FortuneWidget
Name[fi]=FortuneWidget
Name[fr]=FortuneWidget
Name[gd]=FortuneWidget
Name[gl]=FortuneWidget
Name[hu]=FortuneWidget
Name[ia]=FortuneWidget
Name[id]=FortuneWidget
Name[it]=FortuneWidget
Name[ko]=FortuneWidget
Name[lt]=FortuneWidget
Name[nb]=FortuneWidget
Name[nl]=FortuneWidget
Name[nn]=FortuneWidget
Name[pa]=FortuneWidget
Name[pl]=FortuneWidget
Name[pt]=FortuneWidget
Name[pt_BR]=FortuneWidget
Name[ro]=FortuneWidget
Name[ru]=FortuneWidget
Name[sk]=FortuneWidget
Name[sl]=FortuneWidget
Name[sr]=FortuneWidget
Name[sr@ijekavian]=FortuneWidget
Name[sr@ijekavianlatin]=FortuneWidget
Name[sr@latin]=FortuneWidget
Name[sv]=FortuneWidget
Name[tg]=FortuneWidget
Name[tr]=FortuneWidget
Name[uk]=FortuneWidget
Name[vi]=FortuneWidget
Name[x-test]=xxFortuneWidgetxx
Name[zh_CN]=FortuneWidget
Name[zh_TW]=FortuneWidget
Comment=Randomly shows fortune
Comment[cs]=Náhodně zobrazí fortunes


Icon=/usr/share/plasma/plasmoids/org.kde.plasma.fortunewidget/contents/images/fortunes.png
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_fortunewidget

X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=org.kde.plasma.fortunewidget
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

